<div class="container-fluid">
  <div class="jumbotron">
    <h1>About Us</h1>
    <div class="row">
      <div class="col-xs-5">
        <h3>How pricing works</h3>
          <p>
            Data is stored in your account, with no expiration.
            This means that anyone can steal your information at any time.
            Just give us your money, and soon it'll be gone.
            But don't worry. We didn't do it.
            Someone just hacked our database.
          </p>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <h2>No commitment</h2>
        <h2>No contract</h2>
        <h2>No more money</h2>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <h1>Meet the team!</h1>
    <br>
    <div class="row">
      <div class="col-xs-3">
        <img src="http://ih0.redbubble.net/image.32905577.7907/fc,140x140,red.jpg"
        class="img-circle">
        <h4>Scrooge</h4>
        <p>Head of financial advisement</p>
      </div>
      <div class="col-xs-3">
        <img src="http://www.arounddublinblog.com/wp-content/uploads/2012/05/dublin-ca-money-pit-140x140.jpg"
        class="img-circle">
        <h4>Moneybags</h4>
        <p>He's currently location scouting in Bermuda</p>

      </div>
      <div class="col-xs-3">
        <img src="http://i00.i.aliimg.com/photo/v1/1996820724/hippie_sunglasses_as_gift_party_toy_.jpg_140x140.jpg"
        class="img-circle">
        <h4>Intern</h4>
        <p>We didn't feel like talking to our intern, so here's a picture of his glasses. I think.</p>
      </div>
      <div class="col-xs-3">
        <img src="http://ih0.redbubble.net/image.14817163.9417/flat,140x140,075,t.jpg"
        class="img-circle">
        <h4>My Father</h4>
        <p>Chief Investor</p>

      </div>
    </div>
  </div>
</div>
