

<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <h1>Contact Us</h1>
    <form role="form">
      <div class="form-group">
        <label for="full_name">Full Name</label>
        <input type="text" id="full_name" class="form-control">
      </div>
      <div class="form-group">
        <label for="comment">Your Comments</label>
        <input type="text" id="comment" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="col-xs-5">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Contact Info</th>
      </tr>
      <tr>
        <td>Michael Doliner</td>
        <td>Don't contact me</td>
      </tr>
      <tr>
        <td>Samuel Jackson</td>
        <td>I don't work here...</td>
      </tr>
      <tr>
        <td>Christopher Walken</td>
        <td>What is even going on?</td>
      </tr>
      <tr>
        <td>Bryan Cranston</td>
        <td>Please stop doing this</td>
      </tr>
      <tr>
        <td>Michael C Hall</td>
        <td>Do we even have any privacy</td>
      </tr>
      <tr>
        <td>Chevy Chase</td>
        <td>I don't know what Teens For Carrots is, but I'm game.</td>
      </tr>
    </table>
  </div>
</div>
