<h3 class="board-title"><%= board.escape("title") %></h3>
<ul class="lists">

</ul>
<a href="#boards/<%= board.id %>/lists/new">Add a new list</a>
<a href="#boards/<%= board.id %>/delete">Close Board</a>
