<h3 class="post title"> <%= post.escape("title") %> </h3>
<span class="error title"></span>
<p class="post body"> <%= post.escape("body") %> </p>
<span class="error body"></span>
<a href="#">Back to all Posts</a>
