<h1 class="header">New NewsReader Reader</h1>
<div class='content'></div>


<a class="footer" href="#">In Decks</a>
<script>

  $(document).ready(function(){
    NewsReader.initialize({
      $rootEl: $("div.content")
    });
  });

</script>
