html, body, ul, li {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

ul.hanoi {
  clear: both;
  list-style: none;
}

ul.hanoi > ul {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  float: left;
  list-style: none;
  position: relative;
  background-color: #16a085;
}

.disk {
  height: 30px;
  border: 3px solid black;
  float: bottom;
  position: absolute;
  background-color: #e67e22;
}

.disk.selected {
  background-color: #c0392b;
}
